In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

#libraries
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import date

# Visualizing
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns
from sklearn.model_selection import learning_curve

pd.options.display.float_format = '{:20,.2f}'.format

#my libraries
from wrangle import get_connection, get_zillow_data, handle_missing_values, remove_columns, wrangle_zillow, remove_outliers, train_validate_test_split
from explore import explore_univariate, exp_bivariate_categorical, exp_bivariate_continuous, exp_multivariate, exp_bivariate_categorical
import env

#library imports
from datetime import date
from sklearn.model_selection import train_test_split

# Statistical Tests
import scipy.stats as stats

In [2]:
df = get_zillow_data()
df.head(2)

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,id,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,14297519,NaN,NaN,261.00,NaN,NaN,NaN,NaN,1727539,NaN,...,0,0.03,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,17052889,NaN,NaN,261.00,NaN,NaN,NaN,NaN,1387261,NaN,...,1,0.06,2017-01-01,None,None,None,None,Single Family Residential,None,None

In [3]:
df.shape

(77579, 69)

In [4]:
df = wrangle_zillow(df)
df.head()

,bathrooms,bedrooms,square_feet,latitude,longitude,lot_size,tax_value,property_value,logerror,county,age,tax_rate,price_per_sqft
0,3,4,3100,"33,634,931.00","-117,869,207.00",4506,1023282,537569,0.03,Orange,23,0.01,330
1,1,2,1465,"34,449,266.00","-119,281,531.00",12647,464000,376000,0.06,Ventura,54,0.01,316
2,2,3,1243,"33,886,168.00","-117,823,170.00",8432,564778,479489,0.01,Orange,59,0.01,454
3,3,4,2376,"34,245,180.00","-118,240,722.00",13038,145143,36225,-0.10,Los Angeles,51,0.01,61
4,3,3,1312,"34,185,120.00","-118,414,640.00",278581,119407,45726,0.01,Los Angeles,57,0.01,91

In [5]:
df.shape

(69684, 13)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69684 entries, 0 to 77578
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   bathrooms       69684 non-null  int64
 1   bedrooms        69684 non-null  int64
 2   square_feet     69684 non-null  int64
 3   latitude        69684 non-null  float64
 4   longitude       69684 non-null  float64
 5   lot_size        69684 non-null  int64
 6   tax_value       69684 non-null  int64
 7   property_value  69684 non-null  int64
 8   logerror        69684 non-null  float64
 9   county          69684 non-null  object
 10  age             69684 non-null  int64
 11  tax_rate        69684 non-null  float64
 12  price_per_sqft  69684 non-null  int64
dtypes: float64(4), int64(8), object(1)
memory usage: 7.4+ MB

In [ ]:
#https://towardsdatascience.com/geopandas-101-plot-any-data-with-a-latitude-and-longitude-on-a-map-98e01944b972

In [ ]:
prepare.get_hist(df)

In [ ]:
prepare.get_box(df)

In [ ]:
df = prepare.remove_outliers(df, k = 1.5 , col_list = ['bathrooms', 'bedrooms', 'tax_value', 'tax_rate', 'square_feet', 'age', 'log_error'])
df.head()

In [ ]:
prepare.get_hist(df)

In [ ]:
prepare.get_box(df)

In [ ]:
train, validate, test = prepare.train_validate_test_split(df)

In [ ]:
print("train observations: ", train.size)
print("validate observations: ", validate.size)
print("test observations: ", test.size)

# Explore
- We are not going to explore the scaled data at this time, but it is important that the data is scaled before moving into clustering.

- Target Variable: 'log_error'

In [ ]:
#What are the distributions of each variable (train)
for col in train.columns:
    plt.figure(figsize=(4,2))
    plt.hist(train[col])
    plt.title(col)
    plt.show()

##### Takeawyas
- right skewed tax_value, square_feet, and tax_rate
- bit of a left skew on age
- log_error normally distributed

In [ ]:
#Does log error differ across counties?
sns.boxplot(train.county_code, train.log_error)
plt.title("Is there a difference in log_error across counties")
plt.show()

In [ ]:
#Is there a relationship between log_error and bathrooms?
print("Is there a relationship between log_error and bathrooms?")
sns.jointplot(x = 'bathrooms', y = 'log_error', data=train)
plt.xlabel("Bathrooms")
plt.ylabel("Log Error")
plt.show()

In [ ]:
#Is there a relationship between log_error and bedrooms?
# plot age by spending_score
plt.scatter(train.bedrooms, train.log_error)
plt.xlabel("bedrooms")
plt.ylabel("Log Error")
plt.title("Is there a relationship between log_error and bedrooms?")
plt.show()

In [ ]:
#Is there a relationship between log_error and square feet?
plt.scatter(train.square_feet, train.log_error)
plt.xlabel("Square Footage")
plt.ylabel("Log Error")
plt.title("Is there a relationship between log_error and bedrooms?")
plt.show()

In [ ]:
#Is there a relationship between log_error and tax_value?
plt.scatter(train.tax_value, train.log_error)
plt.xlabel("Home Value")
plt.ylabel("Log Error")
plt.title("Is there a relationship between log_error and bedrooms?")
plt.show()

In [ ]:
train['le_bin'] = pd.cut(train.log_error, 4)

train.head()

In [ ]:
# box plot of the two groups and spending score
sns.boxplot(train.le_bin, train.tax_value)
plt.show()

In [ ]:
sns.boxplot(train.le_bin, train.square_feet)

In [ ]:
sns.boxplot(train.le_bin, train.age)

In [ ]:
print("Interaction of variables along with younger vs older\n(cutoff=40)")
sns.pairplot(train, hue='le_bin')
plt.show()